# MacOS
.DS_Store

# VS Code
.vscode
*.code-workspace

# R
*.Rproj
*.RData
.Rproj.user
.Rhistory

# Bookdown
_book/

# Project
.env

analysis/initial/
!analysis/initial/*.R
!analysis/initial/*.Rmd
!analysis/initial/intial_look_at_data